.mainContainer {
    display: inline-grid;
    max-width: 400px;
    border: 1px solid #0E7E8F;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
    text-align: start;
    border-radius: 5px;
    min-width: 90%;
}

.projectName {
    margin: 0;
}

.imgContainer {
    width: 100%;
    max-height: 200px;
    filter: grayscale(0);
    object-fit: contain;
    transition: 0.5s;
}

.mainContainer:hover .imgContainer {
    filter: grayscale(1);
}

.infoProyect {
    width: 100%;
    padding: 5px 20px;
    position: absolute;
    left: 0;
    bottom: -40px;
    background-color: white;
    color: black;
    opacity: 0;
    transition: 1s;
}

.mainContainer:hover .infoProyect {
    bottom: 0;
    opacity: 1;
}

.mainContainer:hover {
    transition: transform 1s ease-in-out;
    transform: scale(1.2);
    z-index: 1;
}

.aContainer {
    display: flex;
    text-decoration: none;
    color: #002E2B;
    width: fit-content;
    align-items: center;
}

.aContainer > i {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.repositoryContainer {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.repositoryContainer:hover {
    color: #64569c;
}

.aContainer:hover {
    color: #0053B3;
}

.languagesContainer {
    background-color: #000;
    padding: 10px;
}

@media screen and (max-width:800px) {
    .mainContainer {
        
    }
}

@media screen and (max-width:500px) {
    .imgContainer {
        max-height: 90px;
    }
}