.mainContainer {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 100px 20px;
    color: white;
    text-align: start;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    max-width: 300px;
    margin-right: 50px;
}

.foto {
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
}

.sobreContainer {
    margin: 0 20px;
    overflow: auto;
    overflow-wrap: break-word;
}

.title {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-decoration-color: #c4839c;
}

.presentation {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

.presentationName {
    color: white;
}

.sobreMi {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 10px;
    color: white;
}

.cv {
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.5s;
    color: white;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.cv:hover {
    background-color: #c4839c;
    color: white;
}

.cv i {
    margin-right: 10px;
}


@media screen and (max-width:800px) {
    .mainContainer {
        flex-direction: column;
        padding: 50px 20px;
        text-align: center;
        align-items: center;
        height: 100vh; 
    }

    .imgContainer {
        margin: 0;
        max-width: 250px;
    }

    .sobreContainer {
        width: 100%;
        height: fit-content;
    }

    .title {
        margin: 0;
    }

    .presentation {
        margin: 5px 0;
    }

    .sobreMi {
        line-height: normal;
    }
}

