.mainContainer {
    background-color: #142850;
    width: 100%;
    height: 10vh;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 2;
    position: fixed;
    top: 0;
    padding: 10px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 80%;
    height: 100%;
    margin: 0 100px;
    padding: 0 15px;
}

.logo {
    height: 60px;
}

.ulContainer, .ulContainerActive {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.aContainer {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: 1s;
}

.aContainer:hover {
    color: #00B16A;
}

.iconContainer {
    display: none;
    font-size: 35px;   
}

.navHeader {
    position: initial;
}


@media screen and (max-width:800px) {
    .headerContainer {
        margin: 0;
    }
    .iconContainer {
        display: block;   
    }
    .navHeader {
        position: absolute;
        top: -700px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .navHeaderResponsive {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: -1;
        padding: 10% 0;
        height: 50vh;
        position: absolute;
        top: 0;
        background-color: #324771;
        border-radius: 0 0 0 80%;
        transition: all 2s;
    }
    .ulContainer {
        display: none;
    }
    .ulContainerActive {
        display: block;
    }
    .liContainer {
        margin-bottom: 10px;
    }
}
