@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;900&display=swap');

#root {
  margin: 0;;
  padding: 0;
  max-width: 100%;
}

:root {
  font-family: 'Noto Sans', Inter, sans-serif,  Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #003066;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #269294;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #067273;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
  background-color: #006263;
}