.mainContainer {
    margin: auto;
    padding: 100px 20px;
}

.title {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-decoration-color: #0053B3;
}

.rowContainer {
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    place-items: center;
}

@media screen and (max-width:800px) {
    .mainContainer {
        
    }
}

@media screen and (max-width:500px) {
    .rowContainer {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1em;
    }
}

